<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento de uma encomenda. Seguem mais detalhes a seguir:</p>
<p>
  <strong>Produto: </strong>{{ product }}<br />
  <strong>Data/hora do cancelamento: </strong>{{ date }}
</p>