<strong>Olá, {{ deliveryman }}!</strong>
<p>Um novo produto já está disponível para retirada. Seguem os detalhes da encomenda:</p>
<p>
  <strong>Produto: </strong>{{ product }} <br />
  <strong>Data/hora: </strong>{{ date }}
</p>